@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: url('/Background.jpg') center;

}
.bg-hero{
    background: url('/hero.jpg') center/cover ;
}
.bg-services{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0, 0, 0, 0.796)),url('/backgroundproject.jpg') center/cover;
}
.bg-about{
    background:url("/aboutpage-bg.png") center/cover;
}
.bg-contact{
    background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url("/bg.png") center/cover ;
}
video {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

