@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: url('/Background.jpg') center;

}
.bg-hero{
    background: url('/hero.jpg') center/cover ;
}
.bg-services{
    background:url('/backgroundproject.jpg') center/cover;
}
.bg-about{
    background:url("/aboutpage-bg.png") center/cover;
}
.bg-contact{
    background:url("/contactpage-bg.jpg") center/cover;
}
video {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}