@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: url('/Background.jpg') center;
}
.bg-hero{
    background: url('/banner.png') center/cover fixed;
}
.bg-services{
    background:url('/backgroundproject.jpg') center/cover;
}
.bg-about{
    background:url("/aboutpage-bg.png") center/cover;
}